:root {
    --light-grey: #f7f7f7;
    --dark-grey: #746c66;
    --light-green: #9bbe53;
    --dark-green: #596e2d;
}

/*------DOCUMENT------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-grey);
}

section {
    max-width: 1180px;
    height: auto;
    margin: 0 auto;
    padding: 0 3rem;
}

img {
    min-height: 50px;
    min-width: 50px;
    border: black 1px solid;
}

.light-grey-wrapper {
    background: var(--light-grey);
}

.margin-bottom {
    margin-bottom: 1rem;
}

/*------HEADER------*/

#header {
    padding: .5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--dark-grey);
    background: #ffffff;
    position: sticky;
    top: 0;
}

.branding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.branding img {
    min-height: 35px;
    min-width: 35px;
}

h1 {
    font-weight: 300;
    font-size: 1.5rem;
}

#nav-bar ul {
    padding-top: .7rem;
}

#nav-bar li {
    display: inline;
}

#nav-bar li a:link,
#nav-bar li a:visited {
    text-decoration: none;
    padding: 0 .5rem;
    color: var(--dark-grey);
}

#nav-bar li a:hover,
#nav-bar li a:active {
    color: var(--light-green);
}

/*------HERO------*/

#hero {
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#hero img {
    height: 100%;
    width: 40%;
}

#hero .content {
    width: 50%;
    text-align: center;
}










/*------Mobile------*/
@media screen and (max-width: 750px),
screen and (max-height: 400px) {

    /*------DOCUMENT------*/
section {
    padding: 0 1rem;
}

.hide-on-small {
    display: none;
}
    /*------HEADER------*/

#header {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    position: relative;
    text-align: center;
}

.branding {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 300;
    font-size: 1.5rem;
}

/*------HERO------*/

#hero {
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#hero img {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

#hero .content {
    height: auto;
    width: 90%;
    text-align: center;
}


}