:root {
    --light-grey: #f7f7f7;
    --dark-grey: #746c66;
    --light-green: #9bbe53;
    --dark-green: #596e2d;
}

/*------DOCUMENT------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-grey);
}

section {
    max-width: 1180px;
    height: auto;
    margin: 0 auto;
    padding: 0 3rem;
    margin-bottom: 8rem;
}

h2 {
    margin-bottom: .5rem;
}

img {
    object-fit: cover;
}

.light-grey-wrapper {
    background: var(--light-grey);
}

.margin-bottom {
    margin-bottom: 1rem;
}

.three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    column-gap: 2rem;
}

hr {
    width: 24rem;
    margin-left: -15rem;
    margin-bottom: 2.5rem;
    border-top: 1px solid var(--light-green);
}

/*------HEADER------*/

#header {
    padding: .5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--dark-grey);
    background: #ffffff;
    position: sticky;
    top: 0;
}

.branding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.branding img {
    height: 25px;
    width: 25px;
}

h1 {
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
}

#nav-bar ul {
    padding-top: .7rem;
}

#nav-bar li {
    display: inline;
}

#nav-bar li a:link,
#nav-bar li a:visited {
    text-decoration: none;
    padding-bottom: .1rem;
    margin: 0 .7rem;
    color: var(--dark-grey);
    transition: 1s;
    border-bottom: #ffffff 3px solid;
}

#nav-bar li a:hover,
#nav-bar li a:active {
    color: var(--light-green);
    border-bottom: 3px var(--light-green) solid;
}

/*------HERO------*/

#hero {
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

#hero img {
    width: 40%;
    height: 100%;
}

#hero .content {
    width: 50%;
    text-align: center;
}

/*------ABOUT------*/

#about h2 {
    margin-left: 3rem;
}

#about img {
    border-radius: 100px;
    height: 8rem;
    width: 8rem;
    margin-bottom: 1rem;
}

#about h3 {
    margin-bottom: .4rem;
}

/*------OUR PROCESS------*/

.our-process-title hr {
    margin-right: -50rem;
}

.our-process-content {
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-process-content video {
    width: 50%;
    height: auto;
    z-index: -1;
}

.our-process-content-text h3 {
    margin-bottom: .2rem;
}

.our-process-content-text {
    width: 45%;
}

/*-------SUBSCRIBE------*/

#subscribe {
    margin-bottom: 0;
    padding: 3rem 6rem;
}

#subscribe h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.subscribe-grid-box {
    border: var(--dark-grey) 1px solid;
    height: 15rem;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

.subscribe-grid-box h3 {
    font-size: 1.5rem;
}

.subscribe-grid-box button {
    width: 6rem;
    height: 2.5rem;
    border: none;
    background-color: var(--light-green);
    font-size: 1rem;
    color: #ffffff;
    box-shadow: 0 3px 5px var(--dark-grey);
    transition: .5s;
}

.subscribe-grid-box button:hover {
    background: var(--dark-green);
}

/*------FOOTER-----*/

#footer {
    height: auto;
    margin: 0 auto;
    padding: .5rem 3rem;
    background: var(--dark-grey);
    color: #ffffff;
    text-align: center;
}





/*------TABLET: change three column grid to be normal for tablet, everything else the same as mobile------*/


/*------MOBILE------*/
@media screen and (max-width: 750px),
screen and (max-height: 400px) {

    /*------DOCUMENT------*/
section {
    padding: 0 1rem;
}

.hide-on-small {
    display: none;
}

.three-column-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    row-gap: 3rem;
}
    /*------HEADER------*/

#header {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    position: relative;
    text-align: center;
}

.branding {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 300;
    font-size: 1.5rem;
}

/*------HERO------*/

#hero {
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#hero img {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

#hero .content {
    height: auto;
    width: 90%;
    text-align: center;
}

/*------ABOUT------*/

#about hr {
    width: 21rem;
    margin-left: -15rem;
    margin-bottom: 2.5rem;
    border-top: 2px dotted var(--dark-grey);
}

#about img {
    border-radius: 100px;
    min-height: 8rem;
    min-width: 8rem;
    margin-bottom: 1rem;
}

#about h3 {
    margin-bottom: .4rem;
}
/*------OUR PROCESS------*/

.our-process-content {
    clear: both;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.our-process-content video {
    width: 95%;
    height: auto;
}

.our-process-content-text {
    width: 95%;
    margin-bottom: 3rem;
}

/*-------SUBSCRIBE------*/

#subscribe {
    padding: 3rem 1rem;
}

.subscribe-grid {
    justify-items: center;
}

.subscribe-grid-box {
    border: var(--dark-grey) 1px solid;
    height: 13rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

.subscribe-grid-box h3 {
    font-size: 1.5rem;
}

.subscribe-grid-box button {
    width: 6rem;
    height: 2.5rem;
    border: none;
    background-color: var(--light-green);
    font-size: 1rem;
    color: #ffffff;
    box-shadow: 0 3px 5px var(--dark-grey);
}

.subscribe-grid-box button:hover {
    background: var(--dark-green);
}


}